a[href]:link {
    /* style for regula links*/
}

a[href]:visited {
    font-style: italic;
}

a[href]:hover {
    text-decoration: underline;
}

a[href]:active {
    background-color: var(--color-light-grey);
}