/* Target the before pseudo-elements of nav-link inside the nav */
.nav-link::before {
  content: ""; /* Empty content */
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 0;
  height: 20%;
}

/* Target the before pseudo-elements of nav-link when nav-item is hovered and is inside nav */
.nav-item:hover .nav-link::before {
  background-color: var(--color-primary);
  width: 100%;
}